<div class="container-fluid">
  <div class="blah-blah"></div>

  <div class="jumbotron blabber-welcome ">
    <h1>Welcome to Blabber!</h1>

    <p>Blabber is the stupitest application meant for people to say whatever they think for no reason at all</p>

    <div class="input-group">
      <input id="blabber-email" name="email" type="email" class="form-control" required placeholder="Enter your e-mail">
      <span class="input-group-btn">
        <button id="enterToBlabs" class="btn btn-primary blabber-enter" type="button">Start</button>
      </span>
    </div>

  </div>
</div>